# Sample dataset for project

In [53]:
# import libraries
import pandas as pd
from faker import Faker

# create fake object
fake = Faker()

In [54]:
# create the unique areas
regions = [fake.name() + ' center' for region in range(50)]
regions = set(regions)

In [ ]:
import random
from datetime import datetime, timedelta
import pandas as pd 
start_date = '01-01-2025'
start_date_obj = datetime.strptime(start_date, '%d-%m-%Y')  # Convert start_date to datetime object
weeks = 24

# Initialize a dictionary to hold the new dates for each region
new_dates_by_region = {}

# Loop through each region and generate a list of dates with random values
for region in regions:
    new_dates = []
    for week in range(weeks):
        new_date = start_date_obj + timedelta(weeks=week)
        random_value = random.randint(500, 1000)  # Generate a random integer between 500 and 1000
        new_dates.append((new_date.strftime('%d-%m-%Y'), random_value))  # Store the date and random value as a tuple
    new_dates_by_region[region] = new_dates


# Initialize a list to hold the data for the DataFrame
data = []

# Loop through each region and generate a list of dates with random values
for region in regions:
    for week in range(weeks):
        new_date = start_date_obj + timedelta(weeks=week)
        random_value = random.randint(500, 1000)  # Generate a random integer between 500 and 1000
        data.append((region, new_date.strftime('%d-%m-%Y'), random_value))  # Store the region, date, and random value

# Create a DataFrame from the data

df = pd.DataFrame(data, columns=['Region', 'Date', 'Spending'])
# df.to_excel('clothing_sample_dataset.xlsx')

In [ ]:
import random
from datetime import datetime, timedelta
import pandas as pd 
start_date = '01-01-2025'
start_date_obj = datetime.strptime(start_date, '%d-%m-%Y')  # Convert start_date to datetime object
weeks = 24

# Initialize a dictionary to hold the new dates for each region
new_dates_by_region = {}

# Loop through each region and generate a list of dates with random values
for region in regions:
    new_dates = []
    for week in range(weeks):
        new_date = start_date_obj + timedelta(weeks=week)
        random_value = random.randint(2, 100)  # Generate a random integer between 0 and 100 
        new_dates.append((new_date.strftime('%d-%m-%Y'), random_value))  # Store the date and random value as a tuple
    new_dates_by_region[region] = new_dates


# Initialize a list to hold the data for the DataFrame
data = []

# Loop through each region and generate a list of dates with random values
for region in regions:
    for week in range(weeks):
        new_date = start_date_obj + timedelta(weeks=week)
        random_value = random.randint(2, 100)  # Generate a random integer between 500 and 1000
        data.append((region, new_date.strftime('%d-%m-%Y'), random_value))  # Store the region, date, and random value

# Create a DataFrame from the data

df_2 = pd.DataFrame(data, columns=['Region', 'Date', 'Unemployed'])
# df_2.to_excel('unemployed_sample_dataset.xlsx')

In [70]:
import os 
datasets = 'data'
user_region = 'Kathleen Miller center'
for data in os.listdir(datasets):
    df = pd.read_excel(os.path.join('data', data), index_col = 0)
df

                      Region        Date  Unemployed
0     Kathleen Miller center  01-01-2025          58
1     Kathleen Miller center  08-01-2025         100
2     Kathleen Miller center  15-01-2025          58
3     Kathleen Miller center  22-01-2025          90
4     Kathleen Miller center  29-01-2025          85
...                      ...         ...         ...
1195    Alexa Johnson center  14-05-2025          49
1196    Alexa Johnson center  21-05-2025          97
1197    Alexa Johnson center  28-05-2025          21
1198    Alexa Johnson center  04-06-2025          59
1199    Alexa Johnson center  11-06-2025          89

[1200 rows x 3 columns]